<!-- Microformat2 data -->
<div class="h-card" hidden>
  <p class="p-name" rel="author">Stephen Ajulu</p>
  <a class="u-url" href="{{ .Permalink }}">Website</a>
  <a class="u-email u-url" rel="me" href="mailto:alunje73@gmail.com">Email</a>
  <p class="p-locality">Nairobi, Kenya</p>
  <a class="p-org" href="https://julzinsight.netlify.app">Julz Insight</a>
  <img class="u-photo" src="images/about.jpg" alt="Stephen Ajulu Photo">
  <img class="u-logo" src="images/logo.svg" alt="Stephen Ajulu Logo">
  <a href="https://twitter.com/stephenajulu" rel="me" class="u-url">Twitter</a>
  <a href="https://github.com/stephenajulu" rel="me" class="u-url">Github</a>
  <a href="https://mastodon.social/@stephenajulu" rel="me" class="u-url">Mastodon</a>
  <p class="p-note">Stephen Ajulu is a multidisciplinary tech consultant in Nairobi, with over a decade of hands-on experience. He's building impactful products, brands, systems, and solutions that fuse innovation, design, and sustainability. Learn more by visiting his <a href="https://stephenajulu8.netlify.app">website</a></p>
</div>
